<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head lang="en" th:include="fragments/header :: header(metaTitle='Edit Task')">
    <title th:id="metaTitle">Edit Task</title>
</head>
<body>
<div>
    <h1>Edit Task</h1>
    <br/>
    <form action="#" th:action="@{/rest/api/tasks/save}" th:object="${task}" method="post">

        <table>
            <tr>
                <td>
                    <label th:text="${'TaskNumber'}" th:field="${task.taskNumber}"></label>
                </td>
                <td>
                    <input type="number" th:field="${task.taskNumber}" th:disabled="true"/>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('taskNumber')}" th:errorclass="error" th:errors="*{taskNumber}"></p>
                </td>
            </tr>

            <tr>
                <td>
                    <label th:text="${'TaskName'}" th:field="${task.taskName}"></label>
                </td>
                <td><label>
                    <input type="text" th:field="*{taskName}"/>
                </label>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('taskName')}" th:errorclass="error" th:errors="*{taskName}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'TaskDescription'}" th:field="${task.taskDescription}"></label>
                </td>
                <td><label>
                    <input type="text" th:field="${task.taskDescription}">
                </label></td>
                <td>
                    <p th:if="${#fields.hasErrors('taskDescription')}" th:errorclass="error"
                       th:errors="*{taskDescription}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'TaskCost'}" th:field="${task.taskCost}"></label>
                </td>
                <td><input type="text" th:field="${task.taskCost}"></td>
                <td>
                    <p th:if="${#fields.hasErrors('taskCost')}" th:errorclass="error" th:errors="*{taskCost}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'OperationsCount'}" th:field="${task.operationsCount}"></label>
                </td>
                <td><input type="number" th:field="${task.operationsCount}"></td>
                <td>
                    <p th:if="${#fields.hasErrors('operationsCount')}" th:errorclass="error"
                       th:errors="*{operationsCount}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'TaskStatus'}" th:field="${task.taskStatus}"></label>
                </td>
                <td>
                    <select name="TaskStatus" th:field="${task.taskStatus}">
                        <option th:each="taskStatus : ${T(com.tasks.calculator.dto.enums.TasksStatus).values()}"
                                th:value="${taskStatus}"
                                th:text="${taskStatus.name}"/>
                    </select>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('taskStatus')}" th:errorclass="error" th:errors="*{taskStatus}"></p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button type="submit" name="action">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<br/><br/>
<div lang="en" th:replace="fragments/footer.html::footer()"></div>
</body>
</html>