<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en" th:insert="fragments/header :: header(metaTitle='Calculator Tasks')">
    <!--/*@thymesVar id="metaTitle" type=""*/-->
    <title th:text="${metaTitle}"></title>
</head>
<body class="container">
<section layout:fragment="content">
    <div id="page">
        <div>Calculator Tasks</div>
        <div>
            <table>
                <thead>
                <tr>
                    <th> Item Number </th>
                    <th> Item Text</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <ul>
                        <li th:each="item : ${items}" th:text="${item.key} ${item.value}"></li>
                    </ul>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</section>
<div lang="en" th:insert="fragments/footer :: footer"></div>
</body>
</html>