<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:include="fragments/header :: header(metaTitle='Create New Operation')">
    <title th:id="${metaTitle} ? ${metaTitle} : 'Create New Operation'"></title>
</head>
<body>
<div class="container mt-5">
    <form action="#" th:action="@{'/rest/api/task/operation/save'}" th:object="${operation}" method="post">
        <table class="align-content-center">
            <caption> New Operation creation</caption>
            <tr>
                <td>
                    <label th:text="Operation number" th:field="${operation.number}"></label>
                </td>
                <td>
                    <input type="text" th:field="${operation.number}" disabled="true"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'OperationName'}" th:field="${operation.operationName}"></label>
                </td>
                <td>
                    <input type="text" th:field="${operation.operationName}"></td>
                <td>
                    <p th:if="${#fields.hasErrors('operationName')}" th:errorclass="error" th:errors="*{operationName}"></p>
                </td>
            </tr>

            <tr>
                <td>
                    <label th:text="Operation description" th:field="${operation.operationDescription}"></label>
                </td>
                <td>
                    <input type="text" th:field="${operation.operationDescription}" disabled="false"/>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('operationDescription')}" th:errorclass="error" th:errors="*{operationDescription}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="Operation Price" th:field="${operation.operationPrice}"></label>
                </td>
                <td><input type="number" th:field="${operationPrice}"></td>
                <td>
                    <p th:if="${#fields.hasErrors('operationPrice')}" th:errorclass="error" th:errors="*{operationPrice}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'Task Name'}" th:field="${operation.taskName}"></label>
                </td>
                <td><label>
                    <input type="text" th:field="${operation.taskName}">
                </label></td>
                <td>
                    <p th:if="${#fields.hasErrors('taskName')}" th:errorclass="error" th:errors="*{taskName}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:text="${'Operation Status'}" th:field="${operation.operationStatus }"></label>
                </td>
                <td>
                    <select name="OperationStatus" th:field="${operation.operationStatus}">
                        <option th:each="status : ${T(com.tasks.calculator.dto.enums.OperationStatus).values()}"
                                th:value="${status}"
                                th:text="${status.name}"/>
                    </select>
                </td>
                <td>
                    <p th:if="${#fields.hasErrors('operationStatus')}" th:errorclass="error" th:errors="*{operationStatus}"></p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button type="submit" name="action">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<br/><br/>
<div lang="en" th:replace="fragments/footer.html::footer()"></div>

</body>
</html>
