<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head lang="en" th:include="fragments/header :: header(metaTitle='Roles List')">
    <title th:text="${metaTitle} ? ${metaTitle} : 'Roles List'"></title>
</head>
<body>
<div class="container mt-5">
    <a href="/rest/api/roles/new">Create New Role</a>
    <br/><br/>
    <table class="table table-striped">
        <caption>Roles</caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role : ${listRoles}">
            <td th:text="${role.name}">Name</td>
            <td th:text="${role.description}">Description</td>
            <td>
                <a th:href="@{'/rest/api/roles/edit/?id='+${role.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/rest/api/roles/delete/?id='+${role.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br/><br/>
<div lang="en" th:replace="fragments/footer.html::footer()"></div>
</body>
</html>